.scrollbar1::-webkit-scrollbar {
  width: 8px;
}

.scrollbar1::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid transparent;
}

.scrollbar1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background-color: #0069f7;
}
